body {
    background-color: #100e17;
    color: #bebebe;
    font-family: 'Rubik';
    font-size: 25.5px;
}

#flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 35px;
}

#eisenhower-matrix {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 60vw;
    height: 40vw;
    border: 1.5px solid black;
}

.quadrants {
    text-align: left;
    font-size: 25.5px;
    border: 1.5px solid black;
    overflow-x: hidden;
    overflow-y: auto;
}

.quadrants > ul {
    display: flex;
    list-style-type: none;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    padding-left: 8.5px;
    padding-right: 8.5px;
}

.quadrantTitles {
    text-align: center;
    margin: 10px 0px 13px 0px;
}

.quadrants > ul > li {
    padding-bottom: 9px;
}

.quadrants > ul > li:hover {
    font-size: 26px;
}

#eisenhower-matrix > #q1 {
    background-color: #eff1e8;
    color: #100e17;
}

#eisenhower-matrix > #q2 {
    background-color: #a8d5e5;
    color: black;
}

#eisenhower-matrix > #q3 {
    background-color: #a8d5e5;
    color: black;
}

#eisenhower-matrix > #q4 {
    background-color: #eff1e8;
    color: #100e17;
}

#tasklist {
    max-width: 30%;
}

#list > li:hover {
    color: white;
    font-size: 27px;
}

#whatDoYouNeedToDo {
    margin-bottom: 5.5px;
}

#makeTaskText {
    flex-direction: row;
}

.inputCheckboxes:hover {
    font-size: 27px;
    color: white;
}

input[type=checkbox] {
    height: 20px;
    width: 17px;
}

input[type=checkbox]:hover {
    height: 21.5px;
    width: 19.5px;
} 

#task {
    width: 16.3%;
    height: 6%;
    font-size: 23px;
}

#task:hover {
    
}

#submit {
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    background-color: #e2e2e2;
    border: none;
    margin-left: 3px;
}

#submit:hover {
    font-size: 21.5px;
}

.checkboxes{
    margin-top: 5px;
}

.uLabel {
    font-size: 21px;
}

.iLabel {
    font-size: 21px;
}

.deleteTask {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: #e2e2e2;
    border: none;
    display: inline-block;
    padding: 1px 8px;
    margin-top: 11px;
    margin-bottom: 15px;
}

.deleteTask:hover {
    font-size: 19.5px;
}

/*
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 900

.rubik-<uniquifier> {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/

@media only screen and (max-width: 600px) {
    #flex-container {
	flex-wrap: wrap;
	font-size: 16px;
    }

    #eisenhower-matrix {
	width: 95%;
	height: 80vw;
    }

    #tasklist {
	min-width: 98%;
    }

    #list {
	padding-left: 25px;
    }

    #list > li {
	padding-top: 8px;
	padding-bottom: 8px;
    }

    .quadrants {
	font-size: 16px;
    }
}

@media only screen and (min-width: 601px) {
    #eisenhower-matrix {
	position: fixed;
	margin: 65px 40px;
	top: 0;
	right: 0;
    }
}
